html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--Priority3-bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

/*hero start*/
#hero{
    background: url("/images/landingBackground.png") right border-box no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#hero > div{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    background:
    linear-gradient(-75deg,#020036 25%,var(--Priority1-bg-color, #4D4B88) 80%,var(--Priority3-bg-color, #6D8EB1) 100%) right/cover no-repeat;

    mask: linear-gradient(-75deg, transparent 40%, white 40%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 67.75%;
    height: 90px;
}

header a{
    color: white;
    transition: 0.5s;
    font-size: 24px;
    padding: 0px 7px;
    text-decoration: none;
}

header a:hover{
    color: rgb(210, 210, 210);
    text-shadow: 2px 2px black;
    border-radius: 20px;
}

header a::after{
    color: rgb(210, 210, 210);
}

#home{
    box-shadow: none;
}

.tableLink{
    display: none;
}

#hero h2{
    margin: 250px 0px 0px;
    font-size: 55px;
    font-weight: 75;
    height: auto;
    width: 55%;
}

#hero p{
    margin: 25px 0px;
    color: #C1C1E8;
    font-size: 30px;
    height: auto;
    width: 55%;
}

#hero div > a{
    color: white;
    background-color: var(--Priority3-bg-color);
    font-size: 40px;
    width: fit-content;
    padding: 10px;
    border-radius: 21px;
    margin-bottom: 350px;
    border: 0px;
    text-decoration: none;
}

#hero div > a::after{
    text-decoration: none;
}
/*hero end*/

/*functions start*/
#functions{
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
    justify-content: center;
    align-content: center;
    position: relative;
    margin-top: -10%;
    z-index: 1;
    color: white;
    background-color: var(--Priority2-bg-color);
    height: 560px;
    width: 95%;
    border-radius: 30px;
    box-shadow: 0px 8px 3px 2px rgba(0, 0, 0, 0.45);
}

#functions > h2{
    font-weight: 100;
    font-size: 70px;
    margin: 0px;
}

#functions > hr{
    margin: 0px;
    border: solid 2px white;
}

#functions > div{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-self: center;
    margin-top: 64px;
    width: 93%;
}

#functions > div > div{
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    align-self: center;
}

#functions > div > div > h3{
    font-size: 36px;
    margin: 20px 0px;
    max-width: fit-content;
    width: max-content;
}

#functions > div > div > p{
    width: 332px;
    font-size: 24px;
    margin: 0px;
}
/*functions end*/

/*advantages start*/
#advantages{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    flex-direction: column;
    margin: 0px 0px 100px;
}

#advantages > div:first-child{
    width: max-content;
    flex-flow: column wrap;
    margin: 50px 0px 0px 0px;
}

#advantages > div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 4%;
}

#advantages > div > div{
    margin: 5px;
    display: flex;
    flex-flow: column wrap;
    background-color: var(--Priority4-bg-color);
    border-radius: 20px;
    height: min-content;
    height: 434px;
    text-align: left;
    box-shadow: 0px 8px 3px 2px rgba(0, 0, 0, 0.25);
    margin: 0px;
}

#advantages > div > div h1{
    color: var(--Priority2-bg-color);
    font-size: 128px;
    font-weight: 100;
    width: max-content;
    margin: 18px 0px 18px 0px;
}

#advantages > div > div > p{
    font-size: 36px;
    width: 85%;
    margin: 0px;
}

#advantages > div > div > h2{
    width: 80%;
    font-size: 48px;
    margin: 0px;
    justify-content: center;
}

#advantages > div > div > img{
    width: 100px;
    height: 100px;
    margin-left: 75px;
}

#advantages > div > div:nth-child(1){
    flex: 55%;
    align-items: start;
    justify-content: center;
    padding: 0px 0px 0px 38px;
    margin-right: 7px;
}

#advantages > div > div:nth-child(2){
    flex: 35%;
    flex-direction: unset;
    align-content: center;
    justify-items: left;
    padding-left: 30px;
    margin-left: 7px;
}

#advantages > div > div:nth-child(2) > h2{
    width: min-content;
}

#numberPosition{
    color: var(--Priority3-bg-color);
    margin: 0px 6px;
    font-size: 200px;
    line-height: 0.8;
}

#advantages > div > div:nth-child(3){
    flex: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    margin-top: 14px;
}

#advantages > div > div > div{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 20px 0px;
}

#advantages > div > div:nth-child(3) > div > div > img{
    width: 150px;
    height: 150px;
}

#advantages > div > div > div > div > p{
    font-size: 24px;
    margin: 20px 0px 0px;
    text-align: center;
}

#advantages div:last-child > h2{
    display: flex;
    align-items: end;
    margin: 0px;
    font-size: 64px;
}

#advantages > div > h2{
    font-size: 70px;
    font-weight: 100;
    margin: 0px;
}

#advantages h3{
    font-size: 40px;
    font-weight: 100;
    color: white;
    margin: 0px 0px 30px;
}
/*advantages end*/

@media screen and (max-width: 1315px){
    #hero > div{
        height: 876px;
    }

    #hero h2{
        margin: 10% 0px 0px;
    }
    
    #functions{
        margin-top: -4%;
    }
}

@media screen and (max-width: 1280px){
    /*functions start*/
    #functions{
        width: 100%;
    }

    #functions > h2{
        font-size: 64px;
    }

    #functions > div > div > h3{
        font-size: 32px;
    }

    #functions > div > div > p{
        font-size: 20px;
        width: 300px;
    }
    /*functions end*/
}

@media screen and (max-width: 1170px){
    /*functions start*/
    #functions > h2{
        font-size: 48px;
    }

    #functions > div > div > h3{
        font-size: 28px;
    }

    #functions > div > div > p{
        font-size: 18px;
        width: 250px;
    }
    /*functions end*/

    /*advantages start*/
    #advantages > div{
        width: 100%;
        margin: 0px;
    }

    #advantages > div > div > img{
        margin-left: 20px;
    }

    #advantages > div > div > h2{
        width: min-content;
    }

    #advantages > div > div > div{
        width: 100%;
    }
    /*advantages end*/
}

@media screen and (max-width: 1024px){
    /*hero start*/
    #hero{
        width: 100%;
    }

    #hero > div{
        height: 652px;
    }

    header a{
        font-size: 20px;
    }

    #hero h2{
        font-size: 42px;
    }

    #hero p{
        font-size: 20px;
    }
    /*hero end*/

    
    /*functions start*/
    #functions > div{
        width: 95%;
    }
    /*functions end*/

    /*advantages start*/
    #advantages > div > div{
        width: min-content;
    }

    #advantages > div > div h1{
        
        font-size: 100px;
    }

    #advantages > div > div:nth-child(1){
        padding-left: 20px;
    }

    #advantages > div > div > p{
        font-size: 26px;
        text-align: left;
    }

    #advantages > div > div > h2{
        font-size: 32px;
        width: fit-content;
    }

    #advantages div:last-child > h2{
        font-size: 48px;
    }

    #advantages > div > div > img{
        height: 80px;
        width: 80px;
    }

    #advantages > div > div:nth-child(3) > div > div > img{
        height: 100px;
        width: 100px;
    }
    /*advantages end*/
}

@media screen and (max-width: 768px){
    body{
        background-color: var(--Priority3-bg-color);
    }

    #hero{
        background: linear-gradient( 180deg,var(--Priority1-bg-color), var(--Priority3-bg-color));
    }

    /*hero start*/
    #hero > div{
        height: auto;
        background: url("/images/landingBackground.png") right border-box no-repeat;
        mask: linear-gradient(black, white);
        padding-left: 0px;
        align-items: center;
    }

    #hero > div > *{
        text-shadow: 2px 2px 4px black;
    }

    header{
        width: 100%;
        background-color: var(--Priority1-bg-color);
    }

    header a{
        display: none;
    }

    #home{
        order: 0;
        margin: 10px;
    }

    .tableLink{
        display: block;
    }

    #hero > h2{
        font-size: 40px;
    }

    #hero p{
        color: #ECECEC;
    }

    #hero div > a{
        background-color: var(--Priority1-bg-color);
        text-shadow: none;
        margin-bottom: 80px;
    }
    /*hero end*/

    /*functions start*/
    #functions{
        margin-top: -25px;
        border-radius: 30px 30px 0px 0px;
        box-shadow: none;
        background-color: var(--Priority3-bg-color);
        height: auto;
    }

    #functions > h2{
        margin-top: 30px;
        font-size: 36px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
    }

    #functions > hr{
        display: none;
    }

    #functions > div{
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    #functions > div > div{
        align-self: auto;
        width: 100%;
        border-radius: 20px;
        background-color: var(--Priority2-bg-color);
        padding: 10px;
        margin: 10px 0px;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45);
    }

    #functions > div > div > h3{
        margin: 10px 0px;
    }

    #functions > div > div > p{
        font-size: 32px;
        width: 85%;
    }
    /*functions end*/

    /*advantages start*/
    #advantages{
        background-color: var(--Priority1-bg-color);
        position: relative;
        z-index: 2;
        border-radius: 30px 30px 0px 0px;
        margin: 0px;
    }

    #advantages > div{
        flex-direction: column;
        width: calc(100% - 20px);
        align-items: center;
    }

    #advantages > div > div{
        box-shadow: none;
        width: 95%;
        padding: 20px 30px;
        align-items: center;
        justify-content: center;
    }

    #advantages > div > div > h2{
        font-size: 48px;
    }

    #advantages > div > div > p{
        font-size: 36px;
        width: 100%;
    }

    #numberPosition{
        margin-top: 2px;
        padding: 0px 25px;
        background-color: var(--Priority2-bg-color);
        border-radius: 20px;
        color: white;
    }

    #advantages div:last-child > h2 > div:last-child{
        text-align: center;
        width: min-content;
        align-self: center;
    }

    #advantages > div > div:nth-child(1){
        flex: 100%;
        margin: 10px 0px;
        padding: 20px 30px;
    }

    #advantages > div > div:nth-child(2){
        flex: 100%;
        margin: 10px 0px;
    }

    #advantages > div > div:nth-child(3){
        flex: 100%;
        margin: 10px 0px;
    }

    #advantages div:last-child > h2 > *:nth-child(1){
        display: none;
    }

    #advantages > div > div:nth-child(3){
        height: auto;
    }

    #advantages > div > div > div{
        margin-top: 30px;
        width: 400px;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
    }

    #advantages > div > div > div > div > p{
        margin: 2px 0px 0px;
    }

    #advantages > div > div > div > p{
        font-size: 36px;
        width: 380px;
    }

    #advantages > div > div:nth-child(2) > h2{
        text-align: center;
        background-color: var(--Priority2-bg-color);
        color: white;
        padding: 10px;
        border-radius: 30px;
    }

    #advantages > div > div > div > *{
        margin: 0px 5px 10px;
    }
    /*advantages end*/

    /*footer start*/
    .bottomnav{
        background: linear-gradient(to top, var(--Priority3-bg-color) 0%, var(--Priority1-bg-color) 60%);
    }
    /*footer end*/
}

@media screen and (max-width: 624px){
    /*hero start*/

    #hero h2{
        width: 95%;
    }

    #hero p{
        width: 95%;
    }
    /*hero end*/

    /*advantages start*/
    #advantages > div > h2{
        font-size: 36px;
    }

    #advantages h3{
        font-size: 20px;
    }

    #advantages > div > div{
        padding: 20px 5px;
        width: 98%;
    }

    #advantages div:last-child > h2 > div:last-child{
        font-size: 32px;
    }

    #advantages > div > div:nth-child(3) > div > div > img{
        width: 75px;
        height: 75px;
    }

    #advantages > div > div > div{
        width: 320px;
    }

    #advantages > div > div h1{
        font-size: 70px;
    }

    #advantages > div > div > h2{
        font-size: 36px;
    }

    #advantages > div > div > p{
        font-size: 32px;
    }

    #numberPosition{
        font-size: 150px;
    }

    #advantages div:last-child > h2{
        font-size: 36px;
    }
    /*advantages end*/
}