#udvozlo{
    background-image: url(/images/Sheet.jpg);
    background-size: contain;       
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    width: 50vh;
    height: 50vw;
}