body{
    background-color: #6D8EB1;
}

/*hero start*/
#hero{
    background: url("/images/landingBackground.png") right no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#hero > div{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    width: auto;
    background:
    linear-gradient(-75deg,#020036 25%,#4D4B88 80%,#6D8EB1 100%) center/cover no-repeat;

    mask: linear-gradient(-75deg, transparent 40%, white 40%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 90px;
}

header a{
    color: white;
    transition: 0.5s;
    font-size: 24px;
    padding: 0px 7px;
    text-decoration: none;
}

header a:hover{
    color: rgb(210, 210, 210);
    box-shadow: black -2px -2px 1px inset;
    border-radius: 20px;
}

header a::after{
    color: rgb(210, 210, 210);
}

#home{
    box-shadow: none;
}

#hero h2{
    margin: 250px 0px 0px;
    font-size: 55px;
    font-weight: 75;
    height: auto;
    width: 55%;
}

#hero p{
    margin: 25px 0px;
    color: #C1C1E8;
    font-size: 30px;
    height: auto;
    width: 55%;
}

#hero button{
    color: white;
    background-color: #6D8EB1;
    font-size: 40px;
    width: fit-content;
    padding: 10px;
    border-radius: 21px;
    margin-bottom: 350px;
}
/*hero end*/

/*advantages start*/
#advantages{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

#advantages div:first{
    flex-direction: column;
    width: max-content;
}

#advantages h2{
    font-size: 70px;
    margin: 0px;
}

#advantages h3{
    font-size: 40px;
    color: white;
    margin: 0px 0px 20px;
}
/*advantages end*/