#udvozlo{
    width: 100%;
    height: 80vh;
    background-image: url(/images/Sheet.jpg);
    background-size: cover;       
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    padding-top: 1%;
}

#udvozlo_szoveg{
    font-family: sans-serif;
    width: 40%;
    height: 5%;
    text-align: center;
    background-color: #D9D9D9;
    filter: drop-shadow(4px 4px 8px #00000040);
    border-radius: 15px;
    margin-top: 3%;
    margin-left: 5%;
    padding-bottom: 20%;
}


h1{
    padding-top: 2%;
    padding-bottom: 15%;
}


#udv_p{
    font-size: 1.5vw;
    text-align: center;
}