#udvozlo{
    width: 100%;
    height: 80vh;
    background-image: url(/images/Sheet.jpg);
    background-size: cover;       
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    padding-top: 1%;
}

#udvozlo_szoveg{
    font-family: sans-serif;
    width: 800px;
    height: 500px;
    text-align: center;
    background-color: #D9D9D9;
    filter: drop-shadow(4px 4px 8px #00000040);
    border-radius: 15px;
    margin-top: 3%;
    margin-left: 5%;
}


h1{
    padding-top: 2%;
    padding-bottom: 15%;
}


#udv_p{
    font-size: 30px;
    text-align: center;
    font-style: italic;
}

@media (max-width: 1150px) {
    #udv_p{
        font-size: 25px;
    }
    #udvozlo_szoveg{
        width: 550px;
        height: 400px;
        margin-top: 5%;
    }
    h1{
        padding-bottom: 15%;
    }
}

@media (max-width: 577px) {
    #udvozlo_szoveg{
        margin-left: auto;
        margin-right: auto;
    }
}