#udvozlo{
    width: 100%;
    height: 80vh;
    background-image: url(/images/Sheet.jpg);
    background-size: cover;       
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    padding-top: 1%;
}

#udvozlo_szoveg{
    font-family: sans-serif;
    width: 40%;
    height: 5%;
    text-align: center;
    background-color: #D9D9D9;
    filter: drop-shadow(4px 4px 8px #00000040);
    border-radius: 15px;
    margin-top: 3%;
    margin-left: 5%;
    padding-bottom: 25%;
}


h1{
    padding-top: 2%;
    padding-bottom: 15%;
}


#udv_p{
    font-size: 1.5vw;
    text-align: center;
}

@media (max-width: 1290px) {
    #udvozlo_szoveg{
        width: 50%;
        padding-bottom: 30%;
        font-size: 0.74em;
    }
    h1{
        padding-bottom: 15%;
    }
    #udv_p{
        font-size: 1.8vw;
    }
}

@media (max-width: 577px) {
    #udvozlo_szoveg{
        margin-left: auto;
        margin-right: auto;
    }
}