/*Bevezető szöveg*/

#udvozlo{
    width: 100%;
    height: 50vw;
    background-image: url(/images/Sheet.jpg);
    background-size: cover;       
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    padding-top: 1%;
}

#udvozlo_szoveg{
    font-family: sans-serif;
    width: 800px;
    height: 500px;
    text-align: center;
    background-color: #D9D9D9;
    filter: drop-shadow(4px 4px 8px #00000040);
    border-radius: 15px;
    margin-top: 3%;
    margin-left: 5%;
}


h1{
    padding-top: 2%;
    padding-bottom: 15%;
}


#udv_p{
    font-size: 30px;
    text-align: center;
    font-style: italic;
}

/*Ajánlott kották listája*/

#ajanlott_kottak_listaja
{
    position: relative;
    z-index: 0;
    font-size: 3vh;
}



@media (max-width: 1150px) {
    #udv_p{
        font-size: 25px;
    }
    #udvozlo_szoveg{
        width: 550px;
        height: 400px;
        margin-top: 5%;
    }
    h1{
        padding-bottom: 15%;
    }
    #udvozlo
    {
        height: 65vw;
    }
}

@media (max-width: 768px) {
    #udv_p{
        font-size: 20px;
    }
    #udvozlo_szoveg{
        width: 400px;
        height: 400px;
        margin-top: 5%;
    }
    h1{
        font-size: 25px;
        padding-bottom: 25%;
    }
    #udvozlo
    {
        height: 80vw;
    }
}

@media (max-width: 576px) {
    #udv_p{
        font-size: 15px;
    }
    #udvozlo_szoveg{
        width: 85vw;
        height: 30vh;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        font-size: 18px;
        padding-bottom: 20%;
    }
    #udvozlo
    {
        height: 95vw;
    }
}