#udvozlo{
    width: 100%;
    height: 80vh;
    background-image: url(/images/Sheet.jpg);
    background-size: cover;       
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    padding-top: 1%;
}

#udvozlo_szoveg{
    width: 35%;
    height: 30vh;
    text-align: center;
    background-color: #D9D9D9;
    filter: drop-shadow(4px 4px 8px #00000040);
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 10%;
}