/* Main Page */

html{
    background: blue;
    background-image: url(/images/coffee-3512027.jpg);
    min-height: 100%;
    background-size: cover;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

/* Flipcards */

#flipCard {
    background-color: transparent;
    width: 550px;
    height: 700px;
    perspective: 1500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    background: inherit;
    background-color: none;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.3); 
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.3);
}

.flipCardFront > div, .flipCardBack > div{
    display: flex;
    flex-direction: column;
    margin: -2% 0;
}

.flipCardFront {
    color: white;
}

.flipCardBack {
    color: white;
    transform: rotateY(180deg);
}

.blurBgDiv{
    background-color:  rgba(255,255,255,0.05);
    filter: blur(3px);
    width: 550px;
    height: 700px;
    position: absolute;
}
/* Flipcard Inner Elemenets */

input{
    padding: 0;
    font-size: 20px;
    background-color: #53629E;
    border: 0;
    border-radius: 15px;
}

h1{
    padding: 0;
    margin: 13% 0 0 0;
    font-size: 45px;
}

label{
    padding: 0;
    margin: 1%;
    font-size: 32px;
    align-self: flex-start;
    font-weight: bold;
}

.logRegBtn{
    width: 50%;
    align-self: center;
    color: white;
    font-size: xx-large;
    padding: 4% 0;
    &:hover{
        cursor: pointer;
    }
}

.flipBtn{
    align-self: flex-end;
    background-color: #6D8EB1;
    color: white;
    padding: 3% 12%;
    font-size: x-large;
    &:hover{
        cursor: pointer;
    }
}

.textInput{
    width: 350px;
    height: 35px;
    padding: 6% 3%;
}

.passCont{
    display: flex;
    flex-direction: column;
}

.passShowHideBtn{
    position: absolute;
    height: 43px;
    width: auto;
    align-self: flex-end;
    padding: 0 1%;
    background: none;
    border: none;
    & > img{
        color: white;
        height: inherit;
    }
    &:hover{
        cursor: pointer;
    }
}

#flipID{
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    align-self: flex-start;
}

#flipBackID{
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Alert */
#alert {
    display: none;
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 5px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#alert > span{
    font-size: xx-large;
    
}

#closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#closebtn:hover {
    color: black;
}
/* Flipcard Animations */

@keyframes cardFlipFade{
    from{
        background-color: rgba(255,255,255,0.0);
    }
    to{
        background: #4D4B88;
    }
}

@keyframes cardFlipFadeBack{
    from{
        background: #4D4B88;
    }
    to{
        background-color: rgba(255,255,255,0.0);
    }
}

/* Tablet view */

@media (max-width: 768px) {
    #flipCard {
        width: 575px;
        height: 750px;
        perspective: 1500px;
    }

    .blurBgDiv{
        width: 575px;
        height: 750px;
    }
}

/* Mobile view */

@media (max-width: 576px) {
    #flipCard {
        width: 100vw;
        height: 75vh;
        perspective: 600vw;
    }

    .flipCardFront, .flipCardBack{
        border-radius: 0;
        justify-content: space-evenly;
    }

    .blurBgDiv{
        width: 100vw;
        height: 75vh;
    }

    .flipBtn{
        width: 75vw;
        height: 8vh;
        font-size: xx-large;
        align-self: center !important;
        border-radius: 0 0 15px 15px !important;
        position: absolute;
        top: 75vh;
        box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.3);
    }

    .logRegBtn{
        width: 65vw;
    }

    h1{
        margin: 0;
        font-size: 50px;
    }

    .textInput{
        width: 85vw;
        height: 6vh;
    }

    .passShowHideBtn{
        height: 6vh;
    }

    label{
        font-size: 35px;
    }
}