/* Main Page */

html{
    background: blue;
    background-image: url(/images/coffee-3512027.jpg);
    background-size: 100%;
    background-position-x: 15%;
    background-position-y: 10%;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

/* Flipcards */

#flipCard {
    background-color: transparent;
    width: 500px;
    height: 620px;
    perspective: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    background: inherit;
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}

.flipCardFront > div, .flipCardBack > div{
    display: flex;
    flex-direction: column;
    margin: -5% 0;
}

.flipCardFront {
    color: white;
}

.flipCardBack {
    color: white;
    transform: rotateY(180deg);
}

.blurBgDiv{
    filter: blur(8px);
}
/* Flipcard Inner Elemenets */

input{
    padding: 0;
    font-size: large;
    background-color: #53629E;
    border: 0;
    border-radius: 15px;
}

h1{
    padding: 0;
    margin: 10% 0 0 0;
    font-size: 45px;
}

label{
    padding: 0;
    margin: 1%;
    font-size: 32px;
    align-self: flex-start;
    font-weight: bold;
}

.logRegBtn{
    width: 50%;
    align-self: center;
    color: white;
    font-size: xx-large;
    padding: 4% 0;
}

.flipBtn{
    align-self: flex-end;
    background-color: #6D8EB1;
    color: white;
    padding: 3% 12%;
    font-size: x-large;
}

.textInput{
    width: 350px;
    height: 35px;
    padding: 6% 3%;
}

/* Flipcard Animations */

@keyframes cardFlipFade{
    from{
        background-color: rgba(255,255,255,0.3);
    }
    to{
        background: #4D4B88;
    }
}

@keyframes cardFlipFadeBack{
    from{
        background: #4D4B88;
    }
    to{
        background-color: rgba(255,255,255,0.3);
    }
}