/* Main Page */

html{
    background: blue;
    background-image: url(/images/coffee-3512027.jpg);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

/* Flipcards */

#flipCard {
    background-color: transparent;
    width: 550px;
    height: 700px;
    perspective: 1500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    background: inherit;
    background-color: none;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.3); 
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.3);
}

.flipCardFront > div, .flipCardBack > div{
    display: flex;
    flex-direction: column;
    margin: -2% 0;
}

.flipCardFront {
    color: white;
}

.flipCardBack {
    color: white;
    transform: rotateY(180deg);
}

.blurBgDiv{
    background-color:  rgba(255,255,255,0.05);
    filter: blur(3px);
    width: 550px;
    height: 700px;
    position: absolute;
}
/* Flipcard Inner Elemenets */

input{
    padding: 0;
    font-size: 20px;
    background-color: #53629E;
    border: 0;
    border-radius: 15px;
}

h1{
    padding: 0;
    margin: 13% 0 0 0;
    font-size: 45px;
}

label{
    padding: 0;
    margin: 1%;
    font-size: 32px;
    align-self: flex-start;
    font-weight: bold;
}

.logRegBtn{
    width: 50%;
    align-self: center;
    color: white;
    font-size: xx-large;
    padding: 4% 0;
}

.flipBtn{
    align-self: flex-end;
    background-color: #6D8EB1;
    color: white;
    padding: 3% 12%;
    font-size: x-large;
}

.textInput{
    width: 350px;
    height: 35px;
    padding: 6% 3%;
}

.passCont{
    display: flex;
    flex-direction: column;
}

.passShowHideBtn{
    position: absolute;
    height: 42px;
    width: auto;
    align-self: flex-end;
    padding: 0 1%;
}

#flipID{
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    align-self: flex-start;
}

#flipBackID{
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Flipcard Animations */

@keyframes cardFlipFade{
    from{
        background-color: rgba(255,255,255,0.0);
    }
    to{
        background: #4D4B88;
    }
}

@keyframes cardFlipFadeBack{
    from{
        background: #4D4B88;
    }
    to{
        background-color: rgba(255,255,255,0.0);
    }
}