/* Main Page */

html{
    background: blue;
    background-image: url(/images/coffee-3512027.jpg);
    background-size: 100%;
    background-position-x: 15%;
    background-position-y: 10%;
}

/* Flipcards */

#flipCard {
    background-color: transparent;
    width: 500px;
    height: 620px;
    perspective: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    background: inherit;
    background-color: rgba(255,255,255,0.3);
    align-items: center;
    justify-content: space-between;
}

.flipCardFront > div, .flipCardBack > div{
    display: flex;
    flex-direction: column;
}

.flipCardFront {
    color: black;
}

.flipCardBack {
    color: white;
    transform: rotateY(180deg);
}

/* Flipcard Inner Elemenets */

input{
    padding: 0;
    font-size: large;
}

h1{
    padding: 0;
    margin: 0;
}

label{
    padding: 0;
    margin: 0;
    font-size: larger;
    align-self: flex-start;
}

.logRegBtn{
    width: 50%;
    align-self: center;
}

.flipBtn{
    align-self: flex-end;
}

/* Flipcard Animations */

@keyframes cardFlipFade{
    from{
        background-color: rgba(255,255,255,0.3);
        color: black;
    }
    to{
        background: #53629E;
        color: white;
    }
}

@keyframes cardFlipFadeBack{
    from{
        background: #53629E;
        color: white;
    }
    to{
        background-color: rgba(255,255,255,0.3);
        color: black;
    }
}