/* Main Page */

html{
    background: blue;
    background-image: url(/images/coffee-3512027.jpg);
    min-height: 100%;
    background-size: cover;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

/* Flipcards */

#flipCard {
    background-color: transparent;
    width: 550px;
    height: 730px;
    perspective: 1500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 20px;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.3); 
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.3);
}

.flipCardFront > div, .flipCardBack > div{
    display: flex;
    flex-direction: column;
    margin: -2% 0;
}

.flipCardFront {
    color: #e6fff8;
}

.flipCardBack {
    color: #e6fff8;
    transform: rotateY(180deg);
}

/* Flipcard Inner Elemenets */

input{
    padding: 0;
    font-size: 20px;
    background-color: #53629E;
    border: 0;
    border-radius: 15px;
}

h1{
    padding: 0;
    margin: 10% 0 2% 0;
    font-size: 45px;
    color: #e6fff8;
}

label{
    padding: 0;
    margin: 1%;
    font-size: 32px;
    align-self: flex-start;
    font-weight: bold;
    color: #e6fff8;
}

.logRegBtn{
    width: 50%;
    align-self: center;
    color: #e6fff8;
    font-size: xx-large;
    padding: 4% 0;
    transition: 0.5s;
    &:hover{
        cursor: pointer;
        background-color: #4D4B88;
    }
}

.flipBtn{
    align-self: flex-end;
    background-color: #6D8EB1;
    color: #e6fff8;
    padding: 3% 12%;
    font-size: x-large;
    &:hover{
        cursor: pointer;
    }
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    20% { transform: translateX(5px) }
    40% { transform: translateX(-5px) }
    60% { transform: translateX(5px) }
    80% { transform: translateX(-5px) }
    100% { transform: translateX(0) }
}

.isShakingAnimated{
    animation: horizontal-shaking 0.35s forwards;
}

.textInput{
    width: 350px;
    height: 35px;
    padding: 6% 3%;
    color: #e6fff8;
    transition: 0.5s;
    border: 2px solid rgba(0, 0, 0, 0);
    &:focus{
        background-color: #4D4B88;
        position: relative; 
        transform: translate(0px, -3.5px);
        outline: none;
        -webkit-box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.3); 
        box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.3);
    }
    &:hover{
        background-color: #4D4B88;
    }
}

button>img{
    transition: 0.5s;
    position: relative;
    top: 2px;
}

.textInput:focus + button>img{
    transform: translate(0px, -3.5px);
}

.passCont{
    display: flex;
    flex-direction: column;
}

.passShowHideBtn{
    position: absolute;
    height: 43px;
    width: auto;
    align-self: flex-end;
    padding: 0 1%;
    background: none;
    border: none;
    & > img{
        color: #e6fff8;
        height: inherit;
    }
    &:hover{
        cursor: pointer;
    }
}

#flipID{
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    align-self: flex-start;
}

#flipBackID{
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Alert */
#alert {
    position: relative;
    display: none;
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 5px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto;
    width: 95%;
    border-radius: 50px;
    z-index: 999;
}

#closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        color: black;
    }
}

#alert > p{
    font-size: large;
}
/* Flipcard Animations */

@keyframes cardFlipFade{
    from{
        background-color: rgba(255,255,255,0.0);
    }
    to{
        background: #4D4B88;
    }
}

@keyframes cardFlipFadeBack{
    from{
        background: #4D4B88;
    }
    to{
        background-color: rgba(255,255,255,0.0);
    }
}

/* Tablet view */

@media (max-width: 768px) {
    #flipCard {
        width: 575px;
        height: 750px;
        perspective: 1500px;
    }

}

/* Mobile view */

@media (max-width: 576px) {
    #flipCard {
        width: 100vw;
        height: 80vh;
        perspective: 600vw;
        top: 45%;
        left: 50%;
        border-radius: 0;
    }

    .flipCardFront, .flipCardBack{
        border-radius: 0;
        justify-content: space-evenly;
    }

    .flipBtn{
        width: 75vw;
        height: 8vh;
        font-size: xx-large;
        align-self: center !important;
        border-radius: 0 0 15px 15px !important;
        position: absolute;
        top: 100%;
        box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.3);
    }

    .logRegBtn{
        width: 65vw;
    }

    h1{
        margin: 0;
        font-size: 50px;
    }

    .textInput{
        width: 85vw;
        height: 6vh;
    }

    .passShowHideBtn{
        height: 6vh;
    }

    label{
        font-size: 35px;
    }
}

@media (max-width: 400px) {
    #alert > p{
        font-size: medium;
    }
}