#main{
    display: flex;
    flex-direction: row;
}

#sheet{
    flex: 75%;
    border: none;
    height: calc(100vh - 117px);
}

#sheet img{
    max-width: 100%;
    height: auto;
    width: max-content;
}

.details{
    flex: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(-177deg, var(--Priority3-bg-color) 24%, var(--Priority1-bg-color) 100%);
    height: calc(100vh - 117px);
}

.details > *{
    background-color: var(--Priority2-bg-color);
}

.details *{
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

.details > div{
    padding: 12px;
    width: 85%;
    font-size: 24px;
    border-radius: 35px;
    overflow-y: auto;
    scrollbar-color: var(--Priority4-bg-color) transparent;
}

.details > div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100% - 350px);
}

.details > div > div{
    display: flex;
    flex-direction: row;
}

.details > div > div > p{
    text-align: right;
    flex: 50%;
    margin: 3px;
}

.details > div > div > p:last-child{
    text-align: left;
}

.details > div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details > div:nth-child(2) > div{
    justify-content: space-evenly;
    padding: 5px 0px;
    width: 75%;
}

.details > div > div > h2{
    background-color: var(--Priority1-bg-color);
    border-radius: 20px;
    padding: 0px 10px;
    font-weight: 100;
    font-size: 40px;
}

.details > div > div > h2:last-child{
    background-color: transparent;
    font-size: 36px;
    padding: 0px;
}

.details input[type="range"]{
    width: 80%;
    -webkit-appearance: none;
    height: 7px;
    border-radius: 5px;
    background: var(--Priority4-bg-color);
    outline: none;
}

.details input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.details > a{
    border-radius: 60px;
    text-align: center;
    text-decoration: none;
    font-size: 48px;
    padding: 7px;
    width: 75%;
}

.details > a::after{
    text-decoration: none;
}

.details > a:hover{
    transition: 1s;
    background-color: color-mix(in srgb, var(--Priority2-bg-color), rgba(200,200,200,0.2));
}

.details > a > img{
    height: 53px;
    width: 52px;
    margin-bottom: -5px;
    padding-left: 5px;
}