body {
  margin: 0px;
}

/*header*/
/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #53629E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid black 4px;
  box-shadow: 0px 10px 15px black;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: flex;
  color: white;
  text-align: center;
  text-decoration: none;
  align-items: center;
  font-size: 17px;
}

.topnav div {
  display: flex;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

* {
  box-sizing: border-box;
}

form.navsearch input[type=text] {
  padding: 10px;
  font-size: 18px;
  border: 0px solid transparent;
  border-radius: 45px 0px 0px 45px;
  float: left;
  width: 90%;
  max-width: 100%;
}

form.navsearch button {
  display: block;
  float: left;
  width: 10%;
  max-width: 100%;
  padding: 10px;
  font-size: 28px;
  border: 0px solid transparent;
  border-radius: 0px 45px 45px 0px;
  border-left: none;
  cursor: pointer;
}

form.navsearch button:hover {
  background: #cefdf1;
}

form.navsearch {
  display: flex;
  justify-content: center;
  margin: 0px;
  width: 100%;
  max-width: 100%;
}

form.navsearch > *{
  background-color: #BEEEE3;
}

#search {
  width: 50%;
  max-width: 100%;
}

form.navsearch::after {
  content: "";
  clear: both;
  display: table;
}

#user{
  display: flex;
  flex-direction: row;
  width: 280px;
}

#user h2 {
  color: white;
  width: 230px;
  font-size: 28px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

#user a{
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

#user a img{
  width: 36px;
}

#home {
  padding: 0px 16px;
}

#home > img {
  width: 198px;
  filter: drop-shadow(0px 0px 4px #BEEEE3);
}

/*Tablet view*/
@media screen and (max-width: 1028px){
  /*header*/
  #home {
    width: 170px;
    padding: 0px 5px;
  }

  #home > img {
    width: 160px;
  }

  #search {
    width: 50%;
    max-width: 100%;
  }

  form.navsearch input[type=text]{
    font-size: 12px;
  }

  form.navsearch button {
    max-width: 100%;
    width: 10%;
    font-size: 12px;
  }

  #user{
    display: flex;
    max-width: 100%;
    width: 190px;
  }

  #user h2 {
    width: 150px;
    font-size: 18px;
  }

  #user a{
    width: 40px;
  }

  #user a img{
    width: 28px;
  }
}

@media screen and (max-width: 768px){
  #home {
    width: 130px;
    padding: 0px 5px;
  }

  #home > img {
    width: 120px;
  }

  form.navsearch input[type=text]{
    font-size: 10px;
  }

  form.navsearch button {
    max-width: 100%;
    width: 20%;
    font-size: 10px;
  }

  #user{
    display: flex;
    max-width: 100%;
    width: 140px;
  }

  #user h2 {
    padding-left: 3px;
    width: 130px;
    font-size: 14px;
  }

  #user a{
    padding: 0px 2px;
  }

  #user a img{
    width: 20px;
  }
}

/*phone view*/
@media screen and (max-width: 425px) {
  /*header*/
  
  /* Add a black background color to the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #53629E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
    border: solid black 0px;
  box-shadow: 0px 0px 0px black;
  }

  .topnav div {
    display: none;
  }

  #home {
    width: 40%;
    justify-content: center;
  }

  #home > img {
    max-width: 100%;
    width: 178px;
    height: 94px;
  }

  form.navsearch {
    display: flex;
    justify-content: center;
    margin: 0px;
    max-width: 100%;
    width: 250px;
    height: auto;
  }

  form.navsearch input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 0px solid transparent;
    border-radius: 45px 45px 45px 45px;
    float: left;
    width: 100%;
    height: auto;
    background: #f1f1f1;
  }

  form.navsearch button{
    display: none;
  }

  /* Hide the link that should open and close the topnav on small screens */
  .topnav > a.icon {
    background: transparent;
    display: flex;
    justify-content: center;
    right: 0;
    top: 0;
    width: 20%;
  }
  
  #user h2 {
    padding-left: 0px;
    max-width: 100%;
    width: 75%;
    font-size: 24px;
    text-align: right;
  }

  #user a{
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 20%;
  }

  #user a img{
    width: 54px;
  }

  .topnav #search {
    display: none;
    width: 75%;
    max-width: 100%;
  }

  .topnav #user {
    display: none;
    flex-direction: row-reverse;
    max-width: 100%;
    width: 80%;
  }
}