body {
  margin: 0px;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: flex;
  color: black;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  align-items: center;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav div {
  display: flex;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 0px solid transparent;
  border-radius: 45px 0px 0px 45px;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  font-size: 17px;
  border: 0px solid transparent;
  border-radius: 0px 45px 45px 0px;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example {
  display: flex;
  justify-content: right;
  margin: 0px;
  width: 700px;
  max-width: 700px;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/*header phone view*/
@media screen and (max-width: 390px) {
  
}